<h1>user一覧</h1>
<div class="continer">
  <div class="row">
　　 <div class="col-m-8">
　　     <h2>Users</h2>
 　　　<table class="table table-hover ">
　　     <tr>
　　       <th>image</th>
　　       <th>name</th>
　　       <th></th>
　　     </tr>
　　     
　　     <% @users.each do |user| %>
　　     <tr>
　　       <th><%=image_tag user.get_profile_image(80,80) %></th>
　　       <th><%=user.name %></th>
　　      <% @books.each do |book| %>
　　       <th><%=link_to 'Show',book_path(book.id) %></th>
　　      <% end 
　　     </tr>
　　    <% end %>
　　   
　　   </table>　
     </div>
  </div>
</div>
