<div class="continer">
    <div class="row">
     <div class="col-lg-3"　style="background-color:orange;">
         <h1>投稿画面</h1>
     </div>
     <div class="col-lg-8">
        <h1>ユーザー（投稿）一覧画面</h1>
     </div>
    </div>
</div>